//colors
$dark-blue: #174873;
$darker-blue: #123452;
$light-blue: #90cbde;
$green: #49bf8f;
$white: #ffffff;
$lighter-gray: #f1f1f1;
$light-gray: #a3a3a3;
$dark-gray: #727475;
$darker-gray: #595959;
$darkest-gray: #444;
//sizes
$mobile-topbar-height: 78px;
//media queries breakpoints
$small-screen: 767px;
$medium-screen: 991px;
$large-screen: 1199px;