@import "_variables";
@import "_mixins";

body {
    margin: 0px;
}
.header {
    .navbar {
        display: flex;
        align-items: center;
        height: 80px;
        .logo {
            width: 25%;
            float: left;
            color: $color-green;
            font-size: 20px;
            text-align: center;
        }
        .menu {
            width: 75%;
            float: left;
            display: flex;
            justify-content: flex-end;
            .menu-item {
                padding: 0px 10px;
                font-weight: bold;
                a {
                    color: $color-green;
                    text-decoration: none;
                }
            }
        }
    }
    .slider {
        height: 320px;
        clear: both;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: $color-blue;
    }
}
.students {
    h2 {
        font-size: 30px;
        color: lightgray;
        text-align: center;
    }
    .paragraph-subtitle {
        font-size: 20px;
        color: $color-green;
        text-align: center;
    }
    .students-container {
        display: flex;
        justify-content: center;
        .student-item {
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            border: 1px solid $color-blue;
            border-radius: 5px;
            margin: 10px;
        }
    }
}