@import '_variables';
@import '_mixins';
@import '_reset';
@import '_topbar';
@import '_navbar';

.slider {
    height: 768px;
    width: 100%;
    background-image: url('/assets/images/daw_bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    .first-row {
        position: absolute;
        left: 50px;
        bottom: 120px;
        font-size: 70px;
        font-weight: bold;
        color: $white;
    }
    .second-row {
        position: absolute;
        left: 50px;
        bottom: 70px;
        font-size: 40px;
        font-weight: bold;
        color: $white;
        span {
            text-decoration: underline;
            &::after {
                content: '|';
                display: inline-block;
                animation:blinkingCursor 0.5s infinite;
            }
        }
        
    }
}

@keyframes blinkingCursor {
    0%{    color: $white; }
    50%{    color: $white; }
    100%{   color: transparent;    }
}